<launch>
    <!-- detector -->
    <!--node pkg="gpsimu" type="gpsimu_parser.py" name="GPS_IMU_parser"/-->
    <node pkg="camera" type="lane_detector.py" name="lane_detector" />
    <!--node pkg="camera" type="pedes_detector.py" name="pedes_detector" /-->
    <!--node pkg="camera" type="traffic_sign_detector.py" name="traffic_sign_detector" /-->
    <!--node pkg="camera" type="traffic_light_detector.py" name="traffic_light_detector" /-->
    
    <!-- planner -->
    <node pkg="path_planner" type="path_planner.py" name="path_planner"  />
    
    <!-- controller -->
    <node pkg="control" type="controller.py" name="controller" />

    <!-- rviz -->
    <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find interface)/rviz/lane_detection_rviz.rviz"/-->
    
</launch>
